
#cuerpo-guia{
    background-color: #d0f0f1;
    font-family: 'Concert One', cursive;
    
}

.display-3 {
    color:#1DD3B0;
}

#cuerpo_formulario{
    background-color: #d0f0f1;
    font-family: 'Concert One', cursive;
}


  